.product {
  display: flex;
  border-bottom: 1px solid lightgray;
  padding: 2rem 0;
}
.product-info {
  margin-left: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.pd-name {
  color: #8400ff;
  font-size: 20px;
  font-weight: 400;
}

.rating {
  font-size: 20px;
  color: #ffbd00;
}
.product-feature {
  margin: 8rem 0 0 3rem;
  font-size: 13px;
  color: #080808;
  font-weight: 700;
}
.pd-value {
  font-weight: 900;
  color: #080808;
}
.btn-regular {
  width: 200px;
  padding: 5px 0;
  margin-bottom: 5px;
  background-color: #f0c14b;
  border: none;
  border-color: lightgray;
  cursor: pointer;
}
